<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ site.url }}/bootstrap/css/bootstrap.min.css">
    <title></title>
</head>
<body style="background-color: #232323;">
  <nav class="navbar navbar-light navbar-fixed-top" style="background-color: #fff;">
    <a class="navbar-brand" href="http://lukasnpalmer.com">Lukas Palmer / blog</a>
  </nav>

  <br />
  <br />
  <br />

  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {{ content }}
        <br />
        {{ site.time }}
        <br />
        {{ site.url }}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

  <script src="{{ site.url }}/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
